@layer base {
	* {
		@apply !select-none border-border;
	}
	*::-webkit-scrollbar {
		width: 0;
		height: 0;
	}
	body {
		@apply bg-background text-foreground;
	}
	input[type="date"]::-webkit-inner-spin-button,
	input[type="date"]::-webkit-calendar-picker-indicator {
		display: none;
		-webkit-appearance: none;
	}
}
