@import "./base.css";
@import "./components.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
	animation: animloader 2s linear infinite;
}

@keyframes animloader {
	0% {
		left: 0;
		transform: translateX(-100%);
	}
	100% {
		left: 100%;
		transform: translateX(0%);
	}
}
